[2017-10-02 17:39] cpdevelops opened #1 "Creating a better README"
Hello there everyone! This is the first issue on my repo designed for new contributors and for the Hacktoberfest by DigitalOcean. Just some simple edits could be made to the README, but here are some suggestions:

- Aligning the logo
- Linking the demo site
- Writing about more of the components currently in the framework

Feel free to put in anything you see fit.

Thanks!

[2017-10-02 17:49] ryanimpey commented on #1
Hi, I'll start on this now for you!

[2017-10-02 19:39] cpdevelops commented on #1
Thanks @ryanimpey for the changes! This issue will be closed now.

[2017-10-02 19:39] #1 closed

[2017-10-02 19:45] cpdevelops opened #4 "Adding more components"
This is more of a large scale issue, where anyone can help contribute. Currently, the only component in the framework is buttons (which still need work). Here are a list of components that would be great to have added, but feel free to add whatever you feel would work well. I will make sure that your changes fit the style of simple.css with the proper class name styling and such, but feel free to

[2017-10-02 19:48] cpdevelops opened #5 "Button size styling fix"
Minor issue, but I feel as though the different button sizes don't come out well. The large button seems smushed, the medium size seems too short, and the small one doesn't even exist yet! If someone would like to help find a padding size that looks great for them that would be great.

Note: Be sure to just update the class styling in simple.css for the different sizes instead of creating new ones

[2017-10-02 20:04] himanish98 commented on #4
I would like to contribute to this issue.

[2017-10-02 20:21] cpdevelops commented on #4
Sure thing @himanish98 ! Just pick a component and get started.

[2017-10-02 20:22] soumam007 commented on #4
@cpdevelops me too would like to contribute :)

[2017-10-02 20:25] faraazahmad commented on #5
I can fix this!

[2017-10-02 20:25] C-Lodder commented on #5
Some size modifiers: https://github.com/cpdevelops/simple.css/pull/6

[2017-10-02 20:31] C-Lodder opened #7 "Use the SCSS preprocessor"
Using SCSS for your framework will make life much easier, as you'll be able to utilise variables, functions, mixins, loops, etc..

[2017-10-02 20:33] cpdevelops commented on #7
I was wanting to work with SCSS or SASS for a preprocessor, but that would take an entire rewrite of the current system. If someone would be willing to take over that task, that would be great. It would also be good to have two folders, one with the current SCSS file, and the other with the current compiled CSS file.

If anyone wants to take over this, just tell me and I will add you as an assigne

[2017-10-02 20:36] cpdevelops commented on #4
@soumam007 Great! Pick any component you think you could work on and get started!

[2017-10-02 20:45] tmarkovic opened #9 "Add githooks for minification"
If this project grows (which I hope it does) wouldn’t it be nice prepare it with something like gulp to create a minified versiob for production?

[2017-10-02 20:54] cpdevelops commented on #9
I hope it grows too, and thanks for the support.

I don't have much experience with making CSS frameworks, but I feel like it would be better to do a minified version for full release. But running it by compiling when someone makes a change would be great, and would work similarly to #7 with the organization (SCSS folder, CSS folder, min folder).

If you @tmarkovic , or anyone else, want to get in

[2017-10-02 20:59] tmarkovic commented on #9
I’ll get to it! I don’t have to much scss experience (or any other preprocessors) But I’m thinking that maybe there should also be some sort of style guide/naming convention in place also? Maybe look at other frameworks for inspiration on organization etc?

[2017-10-02 20:59] cpdevelops commented on #5
Fixed by @C-Lodder in PR #6

[2017-10-02 20:59] #5 closed

[2017-10-02 21:01] cpdevelops commented on #9
Yes, a naming convention would definitely need to be created. I will get to thinking about it. Currently, there is no SCSS in place, so you can just work on getting a minifier setup for now and do an SCSS compiler later. Thanks for being so willing to help!

[2017-10-02 21:05] cpdevelops commented on #4
@soumam007 and @himanish98 , Please tell me which components you would like to work on, so that we know who is working on what and there is no overlapping pull requests.

[2017-10-02 21:12] tmarkovic commented on #9
Sounds great! I’ve been trying to get into oss-contributing for almost a year now and this project of yours felt really inviting and friendly so I finally jumped the gun.

Are you planning on taking this to npm/cdn? I have some experience setting up CI/CD-piplines and would love to help out!

If so, should I open up separate issues so people can work on different parts of CI/CD?

[2017-10-02 21:13] soumam007 commented on #4
What variants do you expect in a list?
Ordered (nos,Romans,alphabet,....)
Unordered (square, circle ,disc,....)
Please you may add your idea ,I will try to implement them :)

[2017-10-02 21:14] cpdevelops commented on #9
Thanks for the kind words and I am glad you chose this project to contribute to first.

I was hoping to eventually get it on CDN, and potentially NPM but I do not think that the project is currently even close to ready for that. For now, I would stick to the current issues and creating more components and eventually move to that stuff.

[2017-10-02 21:17] cpdevelops commented on #4
@soumam007 I think that for both lists, a good font would be good if you feel that should be changed, along with different classes for the styling of ordered and unordered (circle, disc, etc. is what I mean). Most of the inspiration for this project comes from the two frameworks Bootstrap and PotatoCSS, so I would take a look there and see what inspiration you can gather for the list. Whatever you

[2017-10-02 21:19] soumam007 commented on #4
Ok thanks @cpdevelops

[2017-10-02 21:27] cpdevelops commented on #4
I will go ahead and take over the alerts component.

[2017-10-03 00:32] andrewbash commented on #7
I can work on this if you'd like.

[2017-10-03 01:11] cpdevelops commented on #7
That would be great @andrewbash. Thank you. I will assign you on this issue.

[2017-10-03 01:11] cpdevelops commented on #7
That would be great @andrewbash. Thank you.

[2017-10-03 04:20] tmarkovic opened #16 "Buttons in demo does not show pointer cursor on hover"
By convention, shouldn't buttons have the pointer cursor when hovered?

[2017-10-03 12:43] cpdevelops commented on #16
Issue fixed in PR #17

[2017-10-03 12:43] #16 closed

[2017-10-03 15:31] tmarkovic commented on #9
@cpdevelops While I do respectfully disagree that it's ever to early to set up a workflow I see your point!

My main concern here is keeping the minified version under version control (in sync), but maybe that can be solved by using something like https://github.com/typicode/husky to enforce a minified build before pushing?

[2017-10-03 15:36] cpdevelops commented on #9
That looks like it would work very well @tmarkovic. I don't have much experience in setting up these types of things, so it would be great if you could get started on working on both of these.

[2017-10-03 16:13] dvlden commented on #7
I am working on this already.
However, as a project is so tiny/small at this point, I will create an empty file for variables as storage for you to use later on.

[2017-10-03 16:36] dvlden commented on #9
You can now minify file for production by initiating command `npm run prod`. I did not made it so it compiles both minified and non-minified version, but it can easily be tweaked.

While developing:
`npm run dev && npm run watch`

When done and ready to push:
`npm run prod`

[2017-10-03 16:36] dvlden commented on #7
Already done...

[2017-10-03 17:05] cpdevelops commented on #9
@dvlden Thank you for your contribution. Your pull request has been merged, and I hope you stay and keep contributing to the project.

@tmarkovic Since @dvlden has successfully written gulp scripts to minify the file, the only job this task has left is the enforced minified build you suggested using husky. Whenever you are ready, you can get to work on that.

Thanks.

[2017-10-03 17:06] cpdevelops commented on #7
@dvlden Thank you so much for your issue fixes. This will help us out a lot, and I hope you continue to help out in the future. I will close this issue now.

[2017-10-03 17:06] #7 closed

[2017-10-03 17:10] cpdevelops opened #20 "Tweak Alerts"
As of today, I added the new component of alerts. Right now, it is a very rough component and can use a lot of work, in both the actual code of them and the design. It would be great if someone could take this over.

You can find the alerts component file in src/components/alerts.scss

Thanks!

[2017-10-03 17:10] tmarkovic commented on #9
Nice job @dvlden !

Though I would like to point out that it would have been nice with a heads up since I started to work on this. Maybe something to have in mind for further contributions?

Nonetheless, well done 👍

[2017-10-03 17:12] cpdevelops opened #21 "Updating the README for new production"
@dvlden has created a system for automatically compiling and minifying the SCSS file system. What would be great is if he (or someone who understands this system), could edit the README or CONTRIBUTING files to describe how to download all the dependencies, minifying // compiling the files, along with how to submit a pull request.

[2017-10-03 17:14] cpdevelops commented on #9
Yes, that is something I have been thinking about since I have received multiple PRs for the same issues. A good method would be to have just one person call out that they want to accomplish that task, and then have them be the assignee to the issue so that everyone knows who is doing what.

[2017-10-03 17:15] cpdevelops commented on #21
I will actually take over this issue to make sure it gets done quickly.

[2017-10-03 17:16] bhagatparwinder commented on #20
I'll take this. @cpdevelops can you assign this to me? Secondly, is the alert a popup or inline? I do not see it added to index.html (only a scss file exists)

[2017-10-03 17:18] cpdevelops commented on #20
Thank you for wanting to take this over. I will go ahead and assign it to you.

It is an inline alert, and I attempted to add it to the demo site but there were too many merge conflicts so I decided to hold off on that.

Some thing to note would be a JS based close button would be great, and you can take any creative freedom you want wether its the color of the entire layout.

Thanks for starting

[2017-10-03 17:25] cpdevelops commented on #9
@dvlden I did not see the comment you made earlier saying

Is there any chance you would be able to work on that while @tmarkovic works on forcing a minified version for a PR? Thanks.

[2017-10-03 17:27] cpdevelops commented on #21
Finished until changes to both compile SCSS and minify are completed

[2017-10-03 17:27] #21 closed

[2017-10-03 17:38] Frewacom commented on #4
I have a few improvements in mind for the buttons. I will make a pull request later tonight or tomorrow.

[2017-10-03 18:00] bhagatparwinder commented on #20
✅  Please refer https://github.com/cpdevelops/simple.css/pull/25

![image](https://user-images.githubusercontent.com/6809087/31140716-dc9fa724-a83a-11e7-94f6-19e56b814da2.png)

[2017-10-03 19:08] cpdevelops commented on #4
Ok @Frewacom. Thanks for notifying me.

[2017-10-03 20:08] cpdevelops commented on #20
Thanks for the PR @bhagatparwinder. Closing this issue now

[2017-10-03 20:08] #20 closed

[2017-10-03 21:56] dvlden commented on #9
Sure, I'll make an update where both minified and the non-minified file will be compiled for production.

[2017-10-03 23:16] #9 closed

[2017-10-03 23:19] cpdevelops opened #29 "Adding alerts to the README"
Trying to add some simple issues for people to complete for Hacktoberfest! The only task here is to adjust the components section in the README to add the new alerts component shown on the demo site.

**PROJECT TAKEN OVER BY @CLJohnson088**

Thanks and happy coding!

[2017-10-03 23:22] cpdevelops opened #30 "Alert closing needs a transition"
Instead of having an alert being closed just close instantly, it would be great to have a transition so it smoothly fades away instead.

Bonus points if you can vertically center the close button along with the transition.

Be sure to comment if you would like to complete this issue so that we know who is doing what.

[2017-10-03 23:24] cpdevelops opened #31 "Grid System"
Separating this from #4 since it is a large component. This is pretty much the same as the grid system used in the two frameworks of PotatoCSS and Bootstrap, but with a design similar to what is used now in the framework.

Thank you and please notify me if you would like to complete this task. Happy coding!

[2017-10-03 23:24] CLJohnson088 commented on #29
I can look into adding that.

[2017-10-03 23:25] cpdevelops commented on #29
Thanks @CLJohnson088 ! Please add the information in the same format as the current button information format and after the buttons. Thank you for wanting to take this over and happy coding!

[2017-10-03 23:32] mtoadvine commented on #30
I can work on figuring this out

[2017-10-03 23:36] dvlden commented on #30
Cr*p, I'd take this but it's too late and I should hit the bed.
If @mtoadvine does not do it tonight, I can do it in the morning...

Will check on this repo tomorrow anyways, maybe more things appear as issues.

[2017-10-03 23:38] cpdevelops commented on #30
OK @dvlden . @mtoadvine You can take this issue over.

[2017-10-03 23:40] mtoadvine commented on #30
Yeah I'm at work tonight. Should I have a slow night (I work EMS) I might be able to get it.

[2017-10-03 23:41] cpdevelops commented on #29
Completed in PR #32

[2017-10-03 23:41] #29 closed

[2017-10-04 01:17] lpraz commented on #31
How complex will the grid system be? Will it have different sizes for different screen widths? How far will you be able to divide columns (assuming this will be twelfths, since both Bootstrap and PotatoCSS use them as well)?

[2017-10-04 01:24] cpdevelops commented on #31
Not too complex, just a basic system.

Make it responsive if possible, but it isn't a current priority.

Twelfths is correct.

Are you planning on taking over this issue @lpraz?

[2017-10-04 01:25] lpraz commented on #31
@cpdevelops Thanks! I'll take it, if nobody else has already.

[2017-10-04 01:31] cpdevelops commented on #31
You're clear to get started @lpraz!

[2017-10-04 13:17] dvlden commented on #30
Already pointed some things out and improvement to @mtoadvine pull request.
It's not ideal tho, I think whole component should be refactored and maybe jQuery should not be a dependency at all.

[2017-10-04 13:30] cpdevelops commented on #30
@dvlden If you don't mind, could you go into a little more depth about how you plan on refactoring the alert component before you get started, just so I can get an idea about the changes being made

[2017-10-04 13:32] cpdevelops commented on #4
@soumam007 Are you still planning on submitting a PR for the list component, or would it be good to assign the task to someone else? There doesn't seem to be any changes to your fork of the repo.

[2017-10-04 14:01] dvlden commented on #30
Sure, may I open a new issue where I explain everything more detailed?

[2017-10-04 14:31] soumam007 commented on #4
sorry I am working on this, very soon I will let you know. @cpdevelops

[2017-10-04 15:08] dvlden opened #35 "Logo of simple.css"
Maybe this project could get a better logo too?
As a designer, I find it really hurting both font choice, colors and positioning.

I was thinking... Maybe it deserves a better logo, but still keeping it simple and clear. I'll put here my quick design and if you like it, I can submit a pull request?

![logo](https://user-images.githubusercontent.com/3460368/31183335-89642d40-a926-11e7-8e71-6304f3d6

[2017-10-04 16:29] cpdevelops commented on #4
Ok, great. Thanks for letting me know.

On Wed, Oct 4, 2017 at 9:31 AM, Soumam Banerjee <notifications@github.com>
wrote:

--
Colin Pokowitz
pokowitzc22@ensworth.com
www.cpdev.me

[2017-10-04 16:30] cpdevelops commented on #35
OMG, that logo looks amazing. I love it and it would be amazing if you
could submit a PR. Honestly, the logo that we have now was made in 10
seconds in GIMP when I had a quick minute, so thank you so much for making
us a new one.

I will be looking out for your PR.

On Wed, Oct 4, 2017 at 10:08 AM, dvL <notifications@github.com> wrote:

--
Colin Pokowitz
pokowitzc22@ensworth.com
www.cpdev.me

[2017-10-04 16:31] cpdevelops commented on #30
Definitely @dvl. New issue would work best for a full refractor of a
component. I will close this issue now and let you open a new one.

On Wed, Oct 4, 2017 at 9:01 AM, dvL <notifications@github.com> wrote:

--
Colin Pokowitz
pokowitzc22@ensworth.com
www.cpdev.me

[2017-10-04 17:02] cpdevelops commented on #35
New logo added in PR #37.

[2017-10-04 17:02] #35 closed

[2017-10-04 17:03] cpdevelops opened #38 "Refactoring of alert component"
@dvlden wanted to open a new issue for refactoring the alert component, so here is one for him to add onto.

[2017-10-04 17:06] cpdevelops opened #39 "Styled Navigation Bar"
Component requested : Navigation bar similar to the one in [Bootstrap](getbootstrap.com). Medium difficulty issue for Hacktoberfest. Please notify me if you would like to take this over, and please read the README and CONTRIBUTING files before starting. Thanks and happy coding!

[2017-10-04 17:11] dvlden opened #40 "Alert Component"
I am opening new issue as greed with project owner @cpdevelops and this is related to the Alert Component which requires a transition. _(e.g. fade effect)_

I have come up already with some solutions as I was asked by @cpdevelops to provide some example(s).

Let's begin with an easy approach.

1. Keeping Alert Component structure as is, with one additional paragraph as a wrapper for context.

In t

[2017-10-04 17:12] cpdevelops commented on #39
Duplicate of #40

[2017-10-04 17:12] dvlden commented on #38
Cr*p. I was already into writing a long issue before you even posted this :( sorry...

[2017-10-04 17:13] cpdevelops commented on #38
You’re all good. Closed this and reading your new issue now.

[2017-10-04 17:17] dvlden commented on #39
Your reference is not related to the navigation bar. You did a small mistake here @cpdevelops

[2017-10-04 17:18] cpdevelops commented on #39
Yes I did @dvlden haha. I thought I was on the right issue but I guess I have multiple tabs open with different issues. Reopening now.

[2017-10-04 17:18] #38 closed

[2017-10-04 17:21] cpdevelops commented on #40
OMG, you nailed what I asked for. Love the way that you setup the alert styling and changed it up a lot, especially with the differently colored close button.

Go ahead and submit a PR and I will merge as soon as it has been received.

My only concern about this is that we would only be using one script (the one you just wrote for the fade transition) and for something like this jQuery seems like

[2017-10-04 17:32] dvlden commented on #40
Alright, going for dinner and will get on implementation when I get back (ASAP).
I'll write my reasoning for ditching jQuery later too, keep in mind if you build Modal it might require even more JS than just this snippet for Alert.

We can keep it as jQuery at this point, we can refactor and improve when it gets harder?

Be right back...

[2017-10-04 17:35] cpdevelops commented on #40
I do want to have modals but because of how complicated they are I understand that it is a project for a later date.

I think this is a good plan for now. We can think about it more when we have made more progress.

[2017-10-04 17:48] susannahfisher commented on #39
Hi! I'd like to work on the nav bar. I read the README, but don't see the CONTRIBUTING fils in your list. Let me know if this is something you'd like me to take on. Cheers!

[2017-10-04 18:17] soumam007 opened #41 "Add disable button"
One more category of button i want to add
**DISABLE**

[2017-10-04 18:29] Barathwaja commented on #4
will see what components I can contribute tii,, @cpdevelops

[2017-10-04 18:35] f0x52 commented on #4
pull request #44  for code blocks

[2017-10-04 18:36] dvlden commented on #39
@susannahfisher - You may find CONTRIBUTING file over here...
[CONTRIBUTING.md](https://github.com/cpdevelops/simple.css/blob/master/.github/CONTRIBUTING.md)

[2017-10-04 18:36] soumam007 opened #45 "optimization of code"
<h3 class="header-centered">What items does simple.css have?</h3>

class =="header-centred" wasnt actually requirerd because we actually have alligned it to center, it can be removed.

Not a serious issue but if said can be optimized

[2017-10-04 18:36] Barathwaja opened #46 "update package json"
Installation issue update package json ..

Syntax error cleared.

PR [https://github.com/cpdevelops/simple.css/pull/43](https://github.com/cpdevelops/simple.css/pull/43)

[2017-10-04 18:41] dvlden commented on #40
Sure thing, let's keep jQuery in that case until then.

Can you tell me more about this?
On the site I can see following snippet:

[code]

And new snippet is like this:
[code]

The only difference I see is `inline` structure and paragraph required in new one? Side note, I think that paragraph is not ideal, but `div` instead, because someone might want something else, beside just text... (e.g. an i

[2017-10-04 18:47] susannahfisher commented on #39
Awesome, thanks. I've read it all and I'd can work on this for Hacktober, if you'd like.

[2017-10-04 18:52] dvlden commented on #39
I'm sure @cpdevelops will assign you this when he's available. You could start working on it, I assume?

[2017-10-04 19:49] soumam007 opened #47 "script file should be removed to its desired position"
Since we are looking on this development project like a Bootstrap project so we expect people to download our CSS/SCSS and JS file .
They will have their own index.html and they should be able to import these functionalities just by the class name.
So if the script file is not given an appropriate position like say in a js folder then the motive of the project is not maintained.
I would recommend

[2017-10-04 20:38] cpdevelops commented on #46
Cleared in #43

[2017-10-04 20:38] #46 closed

[2017-10-04 20:39] dvlden commented on #47
This project does not contain any JS files at this point.

Adding CSS files in `dist/css/simple.min.css` and `dist/css/simple.css` at this stage seems redundant, doesn't it? Hence the structure to keep it without `css` folder inside of the `dist` for the time being, until some `js` arrives as well.

Can you clarify on what scripts did you meant at this stage of development?

Also, would be great i

[2017-10-04 20:39] cpdevelops commented on #47
We can worry about this later. For now there is only a few lines of JS so it’s not a priority. Closing this issue,but it can be reopened later.

[2017-10-04 20:39] #47 closed

[2017-10-04 20:39] cpdevelops commented on #41
Added in Pr #42

[2017-10-04 20:39] #41 closed

[2017-10-04 20:40] cpdevelops commented on #45
Thanks for telling me. I will get this fixed as soon as I can.

[2017-10-04 20:42] cpdevelops commented on #40
THat is the difference I was referring to. The inline structure with the Js command and no P block will need to be changed.

[2017-10-04 20:44] cpdevelops commented on #39
You can definitely get started @susannahfisher. I will mark this issue as assigned, and I will be watching for your PR

[2017-10-04 20:46] soumam007 commented on #45
Ok I will edit that tomorrow :)

[2017-10-04 20:50] soumam007 commented on #47
Surely tomorrow I will elaborate to you what are my future thoughts regarding this project.

Basically I wanted to add a carousel slider class and as you know scripting within index.html is not what the project is meant for.

But this is a serious issue but we can re open it later :)

[2017-10-04 20:57] dvlden commented on #40
Hmmm, so are you suggesting that I should use pretty HTML styling (as I did) or inline styling as it is in the sample document `index.html`?

I'd update `index.html` obviously to match pretty styling if that's your thing, or I'll just make it inline if you prefer that?

[2017-10-04 21:10] dvlden opened #49 "Issue Template?"
Where did issue template disappear? I don't see it in `.git` anymore.

[2017-10-04 21:52] cpdevelops commented on #47
I do like the idea of a carousel slider component but since we have no similar components currently (carousel, modal, etc.) that require their own script files, this is not a priority issue and can be reopened later.

I would like to hear your thoughts on where you think this project should head, such as different adjustments you think we could make to the development process and components you th

[2017-10-04 21:53] cpdevelops commented on #40
It doesn't really matter, as long as you can understand what is going on and it can handle future modifications then it will be perfect.

Sent from my iPhone

[2017-10-04 21:57] cpdevelops commented on #49
The issue template was an accidental clone of the pull request template. I deleted it because of that.

If you would like me to create an issue template than please let me know and I will go ahead and do so.

Sent from my iPhone

[2017-10-04 22:07] dvlden commented on #49
Would be nice to have a nice template but make things optional and clear, because many issues might not have all of the required fields of the template...

[2017-10-05 03:17] lpraz commented on #31
Thanks! I'm almost finished, but I can't seem to get the build system to work. Up to this point, I've just been using Sass to compile the SCSS, but it doesn't provide a minified CSS file alongside the full one (to my knowledge). Since I'm new to using npm/gulp, what do I need to do to get that working?

[2017-10-05 07:52] soumam007 opened #51 "logo.svg not detected in index.html"
do you want to work on it ?
**yes**

Preview:-

![screenshot from 2017-10-05 13-13-18](https://user-images.githubusercontent.com/21683311/31215896-0d52bb28-a9cf-11e7-8a09-689ba918eb1c.png)

[2017-10-05 07:59] soumam007 opened #53 "logo.svg in the website will be too large"
Are you going to work on this ?
**NO**

I am not so familiar with svg formats, so who is familiar please reduce its size in the website

![screenshot from 2017-10-05 13-26-18](https://user-images.githubusercontent.com/21683311/31216336-e5fdcdfe-a9d0-11e7-83bb-de5f33ceaf28.png)

^^^

[2017-10-05 11:10] soumam007 commented on #39
@susannahfisher  **if** you arent working on this , i want to contribute :) or else you can continue

[2017-10-05 11:54] cpdevelops commented on #53
Can be discussed in #52. Closing this issue.

[2017-10-05 11:54] #53 closed

[2017-10-05 11:55] #51 closed

[2017-10-05 11:58] cpdevelops commented on #45
Fixed in #54

[2017-10-05 11:58] #45 closed

[2017-10-05 13:05] #40 closed

[2017-10-05 13:05] #30 closed

[2017-10-05 13:11] dvlden opened #55 "Alert Component - Spacing issue"
**Explanation:**
When on higher resolution screen which it has bad spacing between close button and content. I know this wouldn't be an issue when `.container` is created, but it would be in `.container-flex`. At this point, there's no limited width in example site, so it's good as the issue can be noticed.

** Preview: **
<img width="1920" alt="screen shot 2017-10-05 at 15 06 21" src="https://use

[2017-10-05 13:28] dvlden opened #56 "Create Containers"
**Explanation:**
Update `base.scss` with two new classes which can be used as app containers.

**How to:**
Find a proper place in the base file and write something like this (improve if you have ideas)

[code]

You also must update `index.html` and it should have two examples for containers.

1. `<div class="container"> ... </div>` - which should contain some content, maybe main content that alrea

[2017-10-05 13:36] C-Lodder opened #57 "Remove jQuery dependency"
It's 2017, absolutely no need to use jQuery

https://github.com/cpdevelops/simple.css/blob/master/src/scripts/simple.js

[2017-10-05 13:38] wwwebneko commented on #55
@dvlden I will work on it

[2017-10-05 14:00] dvlden commented on #57
Still, many projects use it. It's helpful for quick prototyping too...
I agree with this, but as spoken with the project owner, when framework grows bigger and starts getting more scripts into it, jQuery will be removed and modularity will be implemented.

[2017-10-05 14:02] #55 closed

[2017-10-05 14:02] C-Lodder commented on #57
Using jQuery to start and then moving to vanilla JS is **not** a good approach at all. Frameworks spend ages doing this.

The script mentioned above would take 5 minutes to convert to vanilla JS

[2017-10-05 14:04] dvlden commented on #57
If you'd like to work on it, feel free to do so and submit PR.
Although, I'm okay with 3 simple lines of code as for now...

[2017-10-05 14:28] #57 closed

[2017-10-05 14:38] joshuafbarker commented on #56
I can take this one.

[2017-10-05 14:53] dvlden commented on #56
Alright. Feel free to begin...

[2017-10-05 15:34] cpdevelops opened #59 "Enforce adding to demo"
Something that I keep forgetting to do is making sure that contributors submitting PRs aren't always adding their new components // changes to the README or demo. This should probably be added to the CONTRIBUTING file and enforced before merging so that it isn't a task for later.

I will take this over or @dvlden can if he would like to.

[2017-10-05 16:21] dvlden commented on #59
Go ahead man, improve `CONTRIBUTING.md`...
I think we should not, however, add the HTML snippets into `README.md`. It will get bulky quickly.

Maybe there should be only that demo file, `index.html`, which could later on become divided into different categories for each component, but for now a single file, where you won't show just a live demo, but also a code snippet.

Does that seem right to yo

[2017-10-05 17:14] cpdevelops commented on #59
I do think that the README is already bulky and I love the idea of adding the code snippets into the index.html. I will assign myself to both of these tasks and will get them done as soon as I have the time. Thank you for the suggestion.

[2017-10-06 00:25] JulianHinsch commented on #4
@cpdevelops  Hi, I would like to contribute some form styles - maybe .login and .signup - or any others that you would like.  JH

[2017-10-06 03:08] bobharley commented on #31
@cpdevelops I can help

[2017-10-06 12:40] cpdevelops commented on #31
Sorry @bobharley , but we already have someone assigned to this. You can find another component listed in #4 if you would like to continue to help though.

[2017-10-06 13:13] C-Lodder opened #61 "Alert "close" isn't sematically correct"
The clsoe button should either be a link:

[code]

or button:

[code]

It's currently using a `<span>` which isn't accessible, nor semantically correct.

[2017-10-06 13:13] cpdevelops commented on #61
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-06 13:13] cpdevelops commented on #61
The contributors most likely able to help are:

@cpdevelops

[2017-10-06 14:36] susannahfisher commented on #39
@soumam007 I'm working on it - 👍

[2017-10-06 17:04] cpdevelops commented on #61
Hey there @C-Lodder! Sorry about the automated message above, trying out a new system called GitMate for issues. Right now, the alert close system seems to be fine and similar to popular frameworks, but if this becomes an issue in the future we can definitely reopen this. Or, if you would like to take this over you are welcome to tell me and assign yourself.

At the moment, our only goal is to get

[2017-10-06 17:04] #61 closed

[2017-10-06 17:05] cpdevelops opened #62 "Code Snippets in index.html"
Plans for documentation to be moved over to Github Pages, will be assigned to me and @dvlden for now.

[2017-10-06 17:05] cpdevelops commented on #62
The contributors most likely able to help are:

@cpdevelops

[2017-10-06 18:35] joshuafbarker commented on #62
I can assist with this if need be. I did this with one of my repo's.

https://github.com/joshuafbarker/basic-static-server

[2017-10-06 23:16] dvlden commented on #61
Sorry about that, I do believe that close button should indeed be a button as the name "close button" says. I'm unsure tho if form elements such as button can contain pseudo-classes, so maybe anchor could be the right option instead.

Close button should not contain a text, as it's not named, it should contain html entity and I believe that the right choice is the pseudo class use case for this, a

[2017-10-06 23:44] cpdevelops commented on #62
Reopening with more detail in a new issue.

[2017-10-06 23:44] #62 closed

[2017-10-06 23:45] cpdevelops commented on #59
Closing this issue as it will be changed in a new issue.

[2017-10-06 23:45] #59 closed

[2017-10-06 23:57] cpdevelops opened #64 "Complete redesign of demo site"

[2017-10-06 23:57] cpdevelops commented on #64
The contributors most likely able to help are:

@cpdevelops

[2017-10-07 01:18] cpdevelops opened #65 "Bug when using NPM install"
@dvlden , get this error message when running npm install.

[code]

[2017-10-07 01:18] cpdevelops commented on #65
The contributors most likely able to help are:

@cpdevelops

[2017-10-07 02:26] C-Lodder commented on #61
If you dont want to handle it now, that's fine, however I am right and have stated a solid issue, so why close it? Accept the issue and it can be adressed at a later date if need be ;)

[2017-10-07 13:00] dvlden commented on #65
So weird... Works fine when I run `npm install`. I removed `package-lock.json`, installed dependencies and pushed new `package-lock.json`. Maybe that solves your issue?

[2017-10-07 13:11] dvlden commented on #61
After thinking deeper, it won't really work.

Let me provide my reasoning:

- Imagine having a close indicator that is the `<button />` element. When `.close` is applied, it would style that button as indicator that it is indeed for "close". But the button itself contains &times; as an indication of "X" which is like close icon. Repeating `&times;` entity in every close button is just not ideal.

[2017-10-07 15:17] cpdevelops commented on #65
Used new ``` package-lock.json ``` and I get the same error @dvlden

[2017-10-07 15:19] cpdevelops commented on #65
This [part of their documentation](https://docs.npmjs.com/files/package-lock.json) says that it logs all the node_modules it installs to make it so that modules aren't installed twice, metadata isn't duplicated, etc.

[2017-10-07 19:11] dvlden commented on #65
Could you send your npm logs file on gitter maybe? Remove the log file first, then init `npm install` then send me log.

Might be your `env` setup too.

[2017-10-07 19:18] cpdevelops commented on #65
Just sent it @dvlden

[2017-10-09 14:14] #65 closed

[2017-10-09 14:15] cpdevelops commented on #56
Added in PR #63

[2017-10-09 14:15] #56 closed

[2017-10-09 14:17] cpdevelops commented on #31
Added in PR #66

[2017-10-09 14:17] #31 closed

[2017-10-09 15:03] joshuafbarker commented on #64
If you are looking for any help on this, or are looking for someone to bounce ideas off of, let me know, I would be happy to help!

[2017-10-09 16:46] cpdevelops commented on #64
@joshuafbarker at the moment, I think I will be able to do this solo. But we do need help with writing the documentation for some of the components ( containers and grids ). If you would be willing to help out with this that would be great.

[2017-10-09 18:17] dvlden commented on #61
Technically, I was wrong about first reasoning. A button does support `:before` and `:after` pseudo classes`.

Will fix this immediately.

[2017-10-09 18:26] C-Lodder commented on #61
Whether or not `<button>` supports the `:before` or `:after` pseudo classes is irrelevant. `<span>` tags are not there to trigger or submit anything on a page. That's what `<a>` and `<button>` elements are for.

[2017-10-09 18:40] dvlden commented on #61
I understand your point.

Sure, but if that user is writing a completely static page with a bunch of copy pasting and requires multiple alert components on single or multiple pages, it's much easier to just replace it once in the class or override it once, then to replace multiple times with an entity or icon.

Will use the button.

[2017-10-09 20:44] C-Lodder opened #72 "Insecure connection"
When clicking on the link in the screeny below, I get `Insecure connection`

![screenshot-2017-10-9 cpdevelops simple css](https://user-images.githubusercontent.com/2019801/31357755-fa4d3c46-ad3a-11e7-84e7-56c13f926fdc.png)

Either use `http` or update your SSL certificate

[2017-10-09 20:44] cpdevelops commented on #72
The contributors most likely able to help are:

@cpdevelops

[2017-10-10 12:18] cpdevelops commented on #72
Fixed by switching to http.

[2017-10-10 12:18] #72 closed

[2017-10-11 23:47] cpdevelops opened #73 "Add npm documentation to README"
@dvlden Since I do not really know how the NPM system works, would you mind fleshing out the ```development``` documentation page? Over in the gitter room we seem to have some confusion on how to compile after completing work in sass.

[2017-10-11 23:47] cpdevelops commented on #73
The contributors most likely able to help are:

@cpdevelops
@dvlden

[2017-10-12 03:47] bobharley commented on #4
@cpdevelops I can do the modals

[2017-10-12 09:57] soumam007 commented on #72
can we switch to https? just askinng. I guess github has this facility
@cpdevelops @C-Lodder

[2017-10-12 10:02] soumam007 opened #74 "Add gulp,scss documentation in readme"
I cant convertmy scss file to css , tough i have completed my work on list.
That works fine if i am writing directly in simple.css, but since the struvture has changed i need to convert it, which i am failing.
@cpdevelops @dvlden

[2017-10-12 10:02] cpdevelops commented on #74
The contributors most likely able to help are:

@cpdevelops

[2017-10-12 10:11] C-Lodder commented on #72
You can generate Github docs which use the https protocol, however the docs/demo appear to be on the authors personal server

[2017-10-12 13:58] dvlden commented on #73
Sure, will do it.

[2017-10-12 13:59] dvlden commented on #74
Will update development documentation file.

[2017-10-12 14:01] dvlden commented on #72
@cpdevelops - Just use "Let's Encrypt" on your server if you're not willing to switch to `gh-pages`.

[2017-10-12 14:34] #74 closed

[2017-10-12 14:34] #73 closed

[2017-10-14 15:21] soumam007 opened #77 "check node_modules/normalize.css"
20:17 : simple.css $ sass --watch src/styles/simple.scss:dist/simple.css

      error src/styles/simple.scss (Line 1: File to import not found or unreadable: node_modules/normalize.css/normalize.)

I did a npm install to download the dependencies, still I don't know why i was getting that

[2017-10-14 15:22] cpdevelops commented on #77
The contributors most likely able to help are:

@cpdevelops
@dvlden

[2017-10-14 15:37] cpdevelops commented on #77
I believe that you are supposed to run ```npm run dev & npm run watch``` during development and ```npm run prod``` when you are ready to compile and use, instead of compiling through sass.

[2017-10-14 15:45] soumam007 commented on #77
yes you can close that ,yeah i also think that last step which i did was the reason for it.
But i am not sure, if you think that , uncomment the line in variable.scss
i was using sass --watch where as @dvlden uses localhost during npm run dev && npm run watch.
So there was a clash.

[2017-10-15 06:40] soumam007 commented on #39
@susannahfisher are you still working on it?

[2017-10-16 20:07] cpdevelops commented on #77
@soumam007 Can this issue be closed now?

[2017-10-16 20:10] cpdevelops commented on #39
@susannahfisher Please respond to if you are still working on this project and are almost done, because if not I can go ahead and assign someone else.

[2017-10-16 20:11] cpdevelops opened #78 "Form Component"
Leaving this here as an addition to #4 if anyone wants to take it over.

[2017-10-16 20:11] cpdevelops commented on #78
The contributors most likely able to help are:

@cpdevelops

[2017-10-16 20:43] soumam007 commented on #77
Yeah,sure @cpdevelops

[2017-10-16 20:43] cpdevelops commented on #77
Thanks for responding. Closing now.

[2017-10-16 20:43] #77 closed

[2017-10-16 20:50] susannahfisher commented on #39
Go ahead and assign it to someone else - we had an emergency here & I can't prioritize this. Thanks.

[2017-10-16 20:51] cpdevelops commented on #39
Perfectly fine. Thank you for telling me.

Removing the assignment on this issue.

[2017-10-16 20:53] soumam007 commented on #39
@cpdevelops I want to work on it .
@susannahfisher no issues you can add on to it later :)

[2017-10-16 20:54] cpdevelops commented on #39
Ok @soumam007 . Go ahead and get to work, I will add the assigned label back onto this issue.

[2017-10-16 22:29] jberry93 commented on #78
@cpdevelops Will give it a shot 👍

[2017-10-18 12:44] cpdevelops commented on #78
Finished in #79

[2017-10-18 12:44] #78 closed

[2017-10-23 19:10] f0x52 commented on #4
I'll work on some table styling

[2017-10-24 16:44] cpdevelops opened #82 "Documentation on tables"
Just merged in a pull request for a new tables component without realizing it had no documentation associated with it. @f0x52 Wanna take this over to finish the basic component?

[2017-10-24 16:45] cpdevelops commented on #4
@JulianHinsch i didn't see your comment until now. It would be great if you could add some new form styling, just add whatever you feel necessary.

@bobharley Are you still working on modals?

[2017-10-24 18:53] joshuafbarker commented on #4
What do you have in mind for image styles? I can work on those.

[2017-10-31 14:39] cpdevelops opened #83 "Code color styling based on Language?"
Thinking about something like this http://pygments.org/ for syntax highlighting in the code blocks based on what language you put in.

[2018-05-08 12:42] dracondev commented on #49
Coming back to this project a little bit. Just added some new templates through Github's new templates feature for bug and feature reports.

[2018-05-08 12:42] #49 closed